body, html, .App, #root{
  height: 100%;
  width: 100%;
}

hr{
  width: 100%;
  border: none;
  outline: none;
  border-top:solid lightgray 1px;
  margin: 0px 0px;
}

.dashboard{
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
}

.dashboard-body{
  display: grid;
  grid-template-columns: 350px auto;
  height: 100%;
}
.dashboardChatsPanel{
  height: 100%;
  padding: 20px 0px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.Content{
  height: 100%;
}
