.chats-section {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: auto max-content;
  place-items: center;
}

.messages {
  box-sizing: border-box;
  padding: 40px 40px 0 40px;
  height: 83vh;
  overflow-y: auto;
  overflow-x: visible;
  width: 100%;
}

.chats-send {
  box-sizing: border-box;
  padding: 0px 40px;
  width: 1000px;
}

.new-chat-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-chat-search-box {
  width: 500px;
}

.new-chat-title-box {
  width: 200px;
}

.new-chats-section-1 {
  width: 720px;
  display: flex;
  flex-wrap: 1;
  justify-content: space-between;
  margin-bottom: 20px;
}

.joinBtn {
  position: absolute;
  top: 10px;
  right: 40px;
}
