.RoomChat {
  background-color: #f5f5f5;
  width: 100%;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  display: grid;
  height: 100%;
  grid-template-rows: auto max-content;
}

.messages-container {
  padding-left: 40px;
  height: 75vh;
  overflow-y: auto;
}
.message-form form {
  display: flex;
  flex-direction: column;
}

.message-form {
  margin-top: auto;
  width: 100%;
}
